body {
    background-image: url("https://pbs.twimg.com/profile_images/1127553078327160833/Kn7xI2kY_400x400.jpg");
}

.rainbow-text {
    background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
    background-size: 800% 800%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow 6s ease infinite;
  }
  
  @keyframes rainbow { 
      0%{background-position:0% 50%}
      50%{background-position:100% 25%}
      100%{background-position:0% 50%}
}

h1 {
    color: whitesmoke;
    text-align: center;
    letter-spacing: 2px ;
    font-size: 45px;
    margin: 75px 0px 75px 0px;
    text-shadow: black 2px 3px 3px;
}

iframe {
    display: flex;
    margin: auto;
}

h5 { /* Pour centrer les médias avec un retour à la ligne */
    text-align: center;
}

nav {
    align-items: center;
}

#ul-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0.5);
}

li a {
    color: white;
}

#li-nav {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}

.active {
    background-color: #333;
}