body {
    background-image: url("https://pbs.twimg.com/profile_images/1127553078327160833/Kn7xI2kY_400x400.jpg");
}

h1 {
    color: whitesmoke;
    text-align: center;
    letter-spacing: 2px ;
    font-size: 45px;
    margin: 100px 0px 100px 0px;
    text-shadow: black 2px 3px 3px;
}

iframe {
    display: flex;
    margin: auto;
}

h5 { */ Pour centrer les médias avec un retour à la ligne */
    text-align: center;
}
